.pull-left2 {
    float: left;
    width: 57%;
}

.pull-right2 {
    float: right;
    width: 39%;
}

.align-bottom {
    position: absolute;
    bottom: 10%;
    width: 85%;
}

.align-bottom2 {
    position: absolute;
    bottom: 10%;
    width: 80%;
}

.align-bottom img {
    width: 100%;
}

.total-center {
    left: 50%;
    top: 50%;
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 90px;
}

ol li, ul li {
    padding: 15px 0;
}